.sidenav-container {
  position: absolute;
  top: 116px;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: rgba(0, 0, 0, 0.74);
}

.sidenav-content {
  background: #f8f9fa;
  color:rgba(0, 0, 0, 0.74);
  border-right-color: #e0e0e0;
  padding-left: 1em;
  padding-right: 1em;
}

.sidenav-main {
  padding-left: 1em;
  padding-right: 1em;
}

.sidenav-button {
  margin: 1em;
}

.mat-list-item {
  color: rgba(0, 0, 0, 0.74);
}

.mat-divider {
  border-top-color: #e0e0e0;
  margin-top: 1em;
}

.mat-subheader {
  font-weight: 1000;
  color: rgba(0, 0, 0, 0.74);
}

.img-container {
  width: 95%;
  height: 100%;
  max-width: 600px;
  border: 1px solid #e3e6f0;
  border-radius: 4px;
  align-items: center;
  vertical-align: middle;
}

.img-container:hover {
  box-shadow: 0 20px 15px -8px gray;
}

.wrapper {
  width: 100%;
  height: 87%;
  white-space: nowrap;
}

.container {
  width: 100%;
  height: 100%;
}

.container .column {
  display: inline-block;
  height: 100%;
}

figure {
  display: table;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 90%;
}

figcaption {
  display: table-caption;
  text-align: center;
}

.single-wrapper {
  width: 100%;
  height: 85%;
  white-space: nowrap;
}

.single-img-container {
  display: inline-block;
  max-width: 500px;
  border: 1px solid #e3e6f0;
  border-radius: 4px;
  align-items: center;
}

.single-img-container:hover {
  box-shadow: 0 5px 2px -2px gray;
}

.mat-expansion-panel-header {
  background-color: white;
}

.mat-dialog-content {
  font-size: 0.8vw;
  height: 80%;
}

.mat-checkbox-inner-container {
  margin-right: 1em !important;
}

.cdk-viewport {
  height: 100%;
  width: 100%;
}

.csv-container {
  display: flex;
}

.csv-column {
  flex: 50%;
}

.mat-slider {
  margin-left: 2em;
  width: 10%;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}