<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav-content" [(opened)]="opened">
    <mat-action-list>
        <h3 mat-subheader>Subjects</h3>
        <button mat-list-item (click)="onSubjectClickAll()">
          <mat-icon mat-list-icon>menu_open</mat-icon>
          <h4 mat-line>Select All</h4>
        </button>
        <button mat-list-item *ngFor="let subject of subjectList$ | async; index as i;" (click)="onSubjectClick(subject, i)">
          <mat-icon mat-list-icon *ngIf="subjectDictionary[subject]">folder</mat-icon>
          <mat-icon mat-list-icon *ngIf="!subjectDictionary[subject]">folder_open</mat-icon>
          <h4 mat-line>{{ subject }}</h4>
        </button>
        <br>
        <mat-divider></mat-divider>
        <br>
      </mat-action-list>
    <mat-list>
      <h3 mat-subheader>Notes</h3>
      <mat-list-item *ngFor="let note of notes">
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>{{note.name}}</h4>
        <p mat-line> {{note.updated | date}} </p>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-main">
    <div class="nav-content-header">
      <button mat-raised-button (click)="sidenav.toggle()"><mat-icon mat-list-icon>list</mat-icon></button>
      <mat-button-toggle-group multiple name="fontStyle" aria-label="Font Style" [style.margin-left]="'16px'">
        <mat-button-toggle (click)="onVariableClickAll()" [checked]="variableSelectAll$ | async">All</mat-button-toggle>
        <mat-button-toggle *ngFor="let variable of variableList$ | async; index as i" (click)="onVariableClick(variable)" [checked]="variableDictionary[variable]">{{ i }}</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-divider></mat-divider>
    </div>
    <div class="wrapper">
      <div class="container">
        <div  *ngFor="let subjectImages of pathArray$ | async; index as i" class="column">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Personal data
                </mat-panel-title>
                <mat-panel-description>
                  CSV
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Self aware panel
                </mat-panel-title>
                <mat-panel-description>
                  Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>
          </mat-accordion>


          <ng-scrollbar style="width:100%; 
                              --scrollbar-size: 8px;
                              --scrollbar-thumb-color: gray;
                              --scrollbar-hover-size: 12px;
                              --scrollbar-track-color: rgba(0, 0, 0, 0.05);
                              --scrollbar-border-radius: 10px;" visibility="hover">
            <cdk-virtual-scroll-viewport scrollViewport itemSize="14">
              <div cdkScrollable *cdkVirtualFor="let imgPath of subjectImages; index as j" class="img-container" id="left">
                <figure>
                  <figcaption [style.caption-side]="'top'" [style.font-size]="'1vw'">
                    {{ this.data.getSubjectList()[i] }}
                  </figcaption>
                  <img [src]="imgPath" onerror="this.onerror=null; this.src='assets/nodata1.PNG';">
                  <figcaption [style.caption-side]="'bottom'">
                    {{ this.data.getVariableList()[j] }}
                  </figcaption>
                </figure>
              </div>
            </cdk-virtual-scroll-viewport>
          </ng-scrollbar>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>