<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav-content" [(opened)]="opened">
    <mat-action-list>
        <h3 mat-subheader>Subjects</h3>
        <button mat-list-item (click)="onSubjectClickAll()">
          <mat-icon mat-list-icon>menu_open</mat-icon>
          <h4 mat-line>Select All</h4>
        </button>
        <button mat-list-item *ngFor="let subject of subjectList$ | async; index as i;" (click)="onSubjectClick(subject, i)">
          <mat-icon mat-list-icon *ngIf="subjectMap[subject]">folder</mat-icon>
          <mat-icon mat-list-icon *ngIf="!subjectMap[subject]">folder_open</mat-icon>
          <h4 mat-line>{{ subject }}</h4>
        </button>
        <br>
        <mat-divider></mat-divider>
        <br>
      </mat-action-list>
    <mat-list>
      <h3 mat-subheader>Notes</h3>
      <mat-list-item *ngFor="let note of notes">
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>{{note.name}}</h4>
        <p mat-line> {{note.updated | date}} </p>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-main">
    <button mat-raised-button (click)="sidenav.toggle()" [style.margin-top]="'1em'"><mat-icon mat-list-icon>list</mat-icon></button>
    <mat-button-toggle-group multiple name="fontStyle" aria-label="Font Style" [style.margin-left]="'1em'" [style.margin-top]="'1em'">
      <mat-button-toggle (click)="onVariableClickAll()" [checked]="variableSelectAll$ | async">All</mat-button-toggle>
      <mat-button-toggle *ngFor="let variable of variableList$ | async; index as i" (click)="onVariableClick(variable)" [checked]="variableMap[variable]">{{ i }}</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-divider></mat-divider>
    <ng-container *ngIf="activeSubjectCount$ | async as subjectCount">
      <ng-container *ngIf="subjectCount > 1; else loadOneSubject">
        <div class="wrapper">
          <div class="container">
            <div *ngFor="let subjectImages of pathArray$ | async; index as i" class="column" [style.width]="subjectCount >= 4 ? '25%' : '33%'">
              <ng-container *ngIf="subjectList$ | async as subjectList">
                <mat-accordion>
                  <mat-expansion-panel [style.width]="'95%'">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{ subjectList[i] }} 
                      </mat-panel-title>
                      <mat-panel-description>
                        Load CSV Data
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <button mat-button color="primary" (click)="openDialog()" [style.float]="'right'" [style.line-height]="'0px'">Load More Info</button>
                    <br>
                    <div class="csv-container" *ngFor="let entry of activeCSVEntry$ | async">
                      <div class="csv-column" [style.text-align]="'right'" [style.padding-right]="'0.5em'">{{ entry }}</div>
                      <div class="csv-column" [style.padding-left]="'0.5em'">{{ csvDataMap[subjectList[i]][entry] }}</div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </ng-container>
              <ng-scrollbar style="width:100%;
                                  margin-top: 1em;
                                  --scrollbar-size: 6px;
                                  --scrollbar-thumb-color: gray;
                                  --scrollbar-hover-size: 10px;
                                  --scrollbar-track-color: rgba(0, 0, 0, 0.05);
                                  --scrollbar-border-radius: 10px;" visibility="hover">
                <cdk-virtual-scroll-viewport scrollViewport itemSize="14">
                  <div cdkScrollable *cdkVirtualFor="let imgPath of subjectImages; index as j" class="img-container" id="left">
                    <figure>
                      <figcaption [style.caption-side]="'top'" [style.font-size]="'1vw'">
                        {{ this.data.getSubjectList()[i] }}
                      </figcaption>
                      <img [src]="imgPath" onerror="this.onerror=null; this.src='assets/nodata1.PNG';">
                      <figcaption [style.caption-side]="'bottom'" [style.margin-top]="'1em'">
                        {{ this.data.getVariableList()[j] }}
                      </figcaption>
                    </figure>
                  </div>
                </cdk-virtual-scroll-viewport>
              </ng-scrollbar>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #loadOneSubject>
        <ng-container *ngFor="let subject of subjectList$ | async; index as i">
          <ng-container *ngIf="subjectMap[subject]">
            <ng-container *ngIf="pathArray$ | async as paths">
              <div class="single-wrapper">
                <ng-scrollbar 
                  style="height: 33vw;
                  min-height: 300px;
                  --scrollbar-size: 6px;
                  --scrollbar-thumb-color: gray;
                  --scrollbar-hover-size: 10px;
                  --scrollbar-track-color: rgba(0, 0, 0, 0.05);
                  --scrollbar-border-radius: 10px;" track="all">
                    <div *ngFor="let imgPath of paths[0]; index as j" class="single-img-container">
                      <figure>
                        <figcaption [style.caption-side]="'top'" [style.font-size]="'1vw'">
                          {{ this.data.getSubjectList()[i] }}
                        </figcaption>
                        <img [src]="imgPath" onerror="this.onerror=null; this.src='assets/nodata1.PNG';">
                        <figcaption [style.caption-side]="'bottom'" [style.font-size]="'1vw'" [style.margin-top]="'1em'">
                          {{ this.data.getVariableList()[j] }}
                        </figcaption>
                      </figure>
                    </div>
                </ng-scrollbar>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-template>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>