<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav-content" [(opened)]="opened">
    <mat-action-list>
        <h3 mat-subheader>Subjects</h3>
        <button mat-list-item (click)="onSubjectClickAll()">
          <mat-icon mat-list-icon>menu_open</mat-icon>
          <h4 mat-line>Select All</h4>
        </button>
        <button mat-list-item *ngFor="let subject of subjectList$ | async; index as i;" (click)="onSubjectClick(subject, i)">
          <mat-icon mat-list-icon *ngIf="subjectDictionary[subject]">folder</mat-icon>
          <mat-icon mat-list-icon *ngIf="!subjectDictionary[subject]">folder_open</mat-icon>
          <h4 mat-line>{{ subject }}</h4>
        </button>
        <br>
        <mat-divider></mat-divider>
        <br>
      </mat-action-list>
    <mat-list>
      <h3 mat-subheader>Notes</h3>
      <mat-list-item *ngFor="let note of notes">
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>{{note.name}}</h4>
        <p mat-line> {{note.updated | date}} </p>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-main">
    <p class="absolute">
      <button mat-raised-button (click)="sidenav.toggle()"><mat-icon mat-list-icon>list</mat-icon></button>
      <mat-button-toggle-group multiple name="fontStyle" aria-label="Font Style" [style.margin-left]="'16px'">
        <mat-button-toggle (click)="onVariableClickAll()" [checked]="variableSelectAll$ | async">All</mat-button-toggle>
        <mat-button-toggle *ngFor="let variable of variableList$ | async; index as i" (click)="onVariableClick(variable)" [checked]="variableDictionary[variable]">{{ i }}</mat-button-toggle>
      </mat-button-toggle-group>
    </p>
    <mat-divider></mat-divider>
    <div class="wrapper">
      <div class="container">
        <div  *ngFor="let subjectImages of pathArray$ | async; index as i" class="column">
          <ng-scrollbar class="virtual-scroll" thumbClass="white-scrollbars" visibility="hover">
            <cdk-virtual-scroll-viewport scrollViewport itemSize="14">
              <div cdkScrollable *cdkVirtualFor="let imgPath of subjectImages; index as j" class="img-container" id="left">
                <figure>
                  <figcaption [style.caption-side]="'top'" [style.font-size]="'1vw'">
                    {{ this.data.getSubjectList()[i] }}
                  </figcaption>
                  <img [src]="imgPath" onerror="this.onerror=null; this.src='assets/nodata1.PNG';">
                  <figcaption [style.caption-side]="'bottom'">
                    {{ this.data.getVariableList()[j] }}
                  </figcaption>
                </figure>
                
              </div>
            </cdk-virtual-scroll-viewport>
          </ng-scrollbar>
        </div>
      </div>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>