<div class="nav-container">
  <nav class="nav-header">
    <a mat-button class="focus" [routerLink]="['/home']">
      <mat-icon>pages</mat-icon>
      LAMIS
    </a>
    <button mat-button [matMenuTriggerFor]="projectlists">PROJECTS</button>
    <mat-menu #projectlists="matMenu">
      <button mat-menu-item *ngFor="let project of projectList" [routerLink]="['/projects']" (click)="updateProject(project)">{{ project }}</button>
    </mat-menu>

    <ng-template #loginneeded>
      <button mat-button class="align-right" (click)="login()">Login</button>
    </ng-template>
    <button mat-button class="align-right" *ngIf="auth.user$ | async as user; else loginneeded" [matMenuTriggerFor]="menu">{{ user.displayName }}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </nav>
</div>