/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body { 
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 300;
  margin: 0;
}

.mat-toolbar {
  font-weight: 300;
  background: #343544ad !important;
  color: white;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 
              0 6px 10px 0 rgba(0,0,0,.14), 
              0 1px 18px 0 rgba(0,0,0,.12);
  position: fixed;
  top: 54px;
  left: 0;
  right: 0;
  z-index: 2;
}

.mat-icon {
  padding-bottom: 4px;
}

.mat-menu-panel {
  background: white;
}

.mat-menu-item {
  color: #424242;
}

.mat-checkbox-inner-container {
  margin-right: 1em !important;
}